.header{
    background-color: whitesmoke;
    padding: 10px;
}

.header-h1{
    font-size: 20px;
    text-align: right;

}

.header-h2{
    font-size: 20px;
    text-align: left;
    
}

body{
    width: 100%;
    margin: auto;
    font-family: serif;
    font-family: 'Varela Round', sans-serif;
    }
    
    .quizField{
    margin: auto;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: center;

    }
    
    .question{
    font-size: 24px;
    font-weight: 900;
    margin: 20px;
    }
    
    #answerOne{
    font-size: 16px;
    font-weight: 500;
    }
    
    #answerTwo{
    font-size: 16px;
    font-weight: 500;
    }
    
    #answerThree{
    font-size: 16px;
    font-weight: 500;
    }
    
    button{
    padding: 8px 15px;
    color: white;
    background-color: forestgreen;
    border-radius: 5px;
    border: 0px;
    margin: 10px;
    margin-left: 40%;
    font-size: 1.5em;
    }

    .start-button{
        padding: 8px 15px;
        color: white;
        background-color: forestgreen;
        border-radius: 5px;
        border: 0px;
        margin: 10px;
        margin-left: 45%;
        text-align: center;
        }
    
    button:hover{
       background-color: limegreen;
    }

    .box{
        background-color: #DFDCE3;
        width: 50%;
        border: 5px black; 
        padding: 50px;
        margin: auto;
        margin-top: 100px;
        display: block;
        justify-content: center;
        box-shadow: 1px 1px 5px gray;
      }

      .question-prompt{
        font-size: 1.5em;
        font: bold;
        text-align: center;
    
    }



    input {
        height: 50px;
        width: 100%;
        padding: 6px;
        margin-top: 10px;
        font-size: 2.4em;
        border: none;
      }
      
      ul {
        list-style-type: none;
        padding: 0;
        background-color: white;
      }
      
      li {
        height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        background-color: whitesmoke;
        color: Black;
        font-size: 1.5em;
        line-height: 1.5;
      }
      
      li:before {
        content: "\200B";
        position: absolute;
      }
      
      li::after {
        content: " ";
        display: block;
        clear: both;
      }
      

      
      .todos {
        width: 800px;
        margin: 0 auto;
        margin-top: 40px;
      }
      